<div class="home-page-news">
  <figure>
    <h2><a href="/tin-tuc">Tin công nghệ</a></h2>
  </figure>
  <ul>
    <li>
      <a href="#">
        <img src="../../../assets/img/ios-12-beta-small.png" alt="iOS 12 beta" />
        <h3>iOS 12 beta gặp lỗi khiến người dùng iPhone và iPad khó chịu</h3>
        <span>11 phút trước</span>
      </a>
    </li>
  </ul>
  <div class="twobanner">
    <a aria-label="slide" href="https://www.thegioididong.com/khuyen-mai-soc/galaxy-j7" onclick="jQuery.ajax({ url: '//www.thegioididong.com/bannertracking?bid=23252&amp;r='+ (new Date).getTime(),   async: true, cache: false });"><img src="//cdn.tgdd.vn/qcao/01_08_2018_07_02_05_j7proplus-Thang8_398-110.png" alt="2018 - AU - Galaxy J7 Series"></a>
    <a aria-label="slide" href="https://www.thegioididong.com/apple#iphone-6s" onclick="jQuery.ajax({ url: '//www.thegioididong.com/bannertracking?bid=23310&amp;r='+ (new Date).getTime(),   async: true, cache: false });"><img src="//cdn.tgdd.vn/qcao/04_08_2018_11_54_58_iPhone-6-6plus-398-110.png" alt="2018 - AU - iPhone 6"></a>
  </div>
</div>